.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left:calc(10px + 2vmin);
}

.App-header-2{
  border-bottom: 1px solid yellow;
}

.Query {
  background-color:#36beac;
  color:black;
  padding: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap:10px;
}

.query-text{
  font-size: calc(3px + 2vmin);
  font-weight: 600;
  color:#282c34;
}
.dropdown{
  width: 150px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
